.wrapper {
	width: 90%; /* Thay đổi giá trị để phù hợp với trang của bạn */
	margin: 0 auto; /* Căn giữa nội dung trên trang */
  }
a
{
	text-decoration: none;
}
.container-fluid{
	background-color: #fff;
}

div.menu_ngang a 
{
	color:blue;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-size:20px;
}
div.menu_ngang a:hover
{
	color:red
}
div.menu_doc a 
{
	color:blue;
	text-decoration: none;
	display:block;
}
div.menu_doc a:hover
{
	color:red
}

div.phan_trang a 
{
	font-size:36px;
	margin-left:5px;
	margin-right:5px;
	text-decoration: none;
	color:blue;
}
div.phan_trang a:hover 
{
	color:red
}
.product-list {
	display: flex;
	flex-wrap: wrap;
	
  }
  
  .product-row {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .product {
	flex-basis: calc(25% - 2em);
	margin: 1em;
	padding: 1em;
	text-align: center;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: transform 0.2s;
	overflow: hidden;

  }
 
  .product_img {
	transition: transform 0.2s;
  }
  .product_img:hover {
	transform: scale(1.2);
  }
  .category_img {
	border-radius: 20px;
	transition: transform 0.2s;
  }
  .category_img:hover {
	transform: scale(1.05);
  }	
  .slideshow_img {
	width: 100%;
	max-height: 450px; /* hoặc bất kỳ giá trị nào mà bạn muốn */
	object-fit: contain;
  }
  .carousel-inner .item img {
	object-fit: cover;
  }
  .product_details
  {
		border-radius: 8px;
		height: 50px;
  }
  .product_name
  {
	padding-top: 5px;
	width: 100%;
  }.product_name a
  {
	font-size: 15px;
	margin: auto;
	color:#000;
  }
  .product_price
  {
	width: 100%;
	height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 15px;
  }
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
	
}

.grid-item:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	height: 600px; /* Chiều cao cho khối 1 */
}

.grid-item:nth-child(2) {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	height: 290px; /* Chiều cao cho khối 2 */
}

.grid-item:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 290px; /* Chiều cao cho khối 3 */
}

.grid-item:nth-child(4) {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
	height: 600px; /* Chiều cao cho khối 4 */
}
.grid-item-content {
	background: rgba(255, 255, 255, 0.484);
	border-radius: 2px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	margin: 0;
	color: #000;
	font-size: 25px;
}
.grid-item-content:hover{
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.553);
	color: #fff;

}
@media (max-width: 767px) {
	.product {
		flex-basis: 100%;
	}
	.left-div
	{
		display: hidden;
	}
}
