.khung {
	background-color: #fff;
	margin: 1em;
	padding: 1em;
	min-height: calc(100% - 38.4rem);;
	text-align: center;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: transform 0.2s;
	overflow: hidden;
  }
a
{
	text-decoration: none;
}
.navbar {
    background-color: #fff !important;
    color: black !important;
    border: none;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
  
.navbar a {
    color: black !important;
	font-size:15px;
}

.navbar a:hover {
    background-color:#fff !important;
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text ;
	-webkit-text-fill-color: transparent ;
	border-radius:8px;
}
.navbar a.active:hover {
    background-color: #fff !important;
}


.navbar-nav.navbar-left {
	display: flex; 
	align-items: center;
 	justify-content: center;
 	margin: 0; 
  	padding: 0;
}
.navbar-nav.navbar-right {
 	margin-top: 12px; 
	margin-right:5px;
}
.banner{
	width: 100%;
}
.banner img
{
	width: 98%;
	border-radius:20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.product-list {
	display: flex;
	flex-wrap: wrap;
  }
  .product-row {
	background-color: #fff;
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .product {
	background-color: #fff;
	flex-basis: calc(25% - 2em);
	margin: 1em;
	padding: 1em;
	text-align: center;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: transform 0.2s;
	overflow: hidden;
  }
  .product_image
  {
	width: 100%;
	min-height: 22rem;
	max-height: 22rem;
	overflow: hidden;

  }
  .product_img {
	transition: transform 0.2s;

  }
  .product_img:hover {
	transform: scale(1.2);
  }
  .category_img {
	border-radius: 20px;
	transition: transform 0.2s;
  }
  .category_img:hover {
	transform: scale(1.05);
  }	
  .slideshow_img {
	width: 100%;
	max-height: 450px; /* hoặc bất kỳ giá trị nào mà bạn muốn */
	object-fit: contain;
  }
  .carousel-inner a
  {
	text-decoration: none;
	color:rgba(255,105,0,1);
}
  .carousel-inner a:hover
  {
  color:#fff;
  text-decoration: none;
  }
  .carousel-inner .item img {
	object-fit: cover;
  }
  .product_details
  {
		border-radius: 8px;
		max-height: 40%;
	}
  .product_name
  {
	min-height: 8%;
	max-height: 8%;
	padding-top: 5px;
	width: 100%;
  }
  .product_name a
  {
	font-size: 17px;
	margin: auto;
	color:#000;
	text-decoration: none;
  }
  .product_name a:hover
  {
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text  !important;
	-webkit-text-fill-color: transparent !important;
	text-decoration: none;
  }
  .product_price
  {
	margin-top: 2em;
	width: 100%;
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text  !important;
	-webkit-text-fill-color: transparent !important;
	font-weight: bold;
	font-size: 17px;
  }

.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 20px;
	margin-top: 20px;
	width: 100%;
	
}

.grid-item:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	height: 600px; /* Chiều cao cho khối 1 */
}

.grid-item:nth-child(2) {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	height: 290px; /* Chiều cao cho khối 2 */
}

.grid-item:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 290px; /* Chiều cao cho khối 3 */
}

.grid-item:nth-child(4) {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
	height: 600px; /* Chiều cao cho khối 4 */
}
.grid-item-content {
	background: rgba(0, 0, 0, 0.553);
	color: rgba(255,105,0,1);
	border-radius: 2px;
	position: absolute;
	min-width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	margin: 0;
	font-size: 25px;
}
.grid-item-content:hover{
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	color: #000;
	border-radius: 5px;

}
.phan_trang a
{
	font-size:17px;
	margin-left:5px;
	margin-right:5px;
	text-decoration: none;
	color:#000;
}


.footer-container {
	padding: 40px 0 0 0;
  }
  
  .footer-top {
  margin: 0 auto;
  }
  
  .footer-col {
	margin-bottom: 20px;
  }
  
  .footer-col-inner h3 {
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: left;
  }
  
  .footer-col-inner ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer-col-inner ul li {
	margin-bottom: 10px;
	text-align: left;
  }
  
  .footer-col-inner ul li a {
	color: #000;
	font-size: 14px;
	text-decoration:none;
  }
  
  .footer-col-inner ul li a:hover {
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text  !important;
	-webkit-text-fill-color: transparent !important;

  }
  
  .footer-bottom {
	background-color: rgba(80, 80, 80, 0.162);
	color: #000;
	padding: 10px 0;
  }
  
  .footer-bottom p {
	font-size: 14px;
	margin: 0;
	text-align: center;
  }
  
  .footer-bottom a {
	color: #fff;
  }
  
  .footer-bottom a:hover {
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text  !important;
	-webkit-text-fill-color: transparent !important;
  }
  .product_table
	{
		text-align:center;
	}
	
@media (max-width: 767px) {
	.product {
		flex-basis: 100%;
	}
	.left-div
	{
		display: hidden;
	}
}
.carousel-inner
  {
    max-height: 500px;
    border-radius:20px;
  }
.carousel-control{
  opacity: 0;
}
.carousel-control{
border-radius: 20px;
}
  .carousel-caption
  {
    background-color:rgba(0, 0, 0, 0.553);
	position: absolute;
	margin-left: -17%;
	padding: 2%;
	max-width: 70%;
	border-radius:5px;
	color: rgba(255,105,0,1);
	transform: translateY(100%);
	animation: slide-up 1s forwards;
  }
  .author_left
  {
	position: absolute;
	bottom: 3%;
	left: 3%;
	color: rgba(255,105,0,1);
  }
  .author_right
  {
	margin-top: 5px;
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	-webkit-background-clip: text  !important;
	-webkit-text-fill-color: transparent !important;
	font-weight: bold;
  }
  .time_post
  {
	position: absolute;
	bottom: 20%;
	left: 3%;
	color: #fff;

  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
  }

  .article {
    width: 25%;
    height: 100%;
    max-height:25px;
    margin-bottom: 20px;
    text-align: left;
  }

  .article img {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.article a {
font-size: 18px;
font-weight: bold;
color: #000;
text-decoration: none;
}

.article a:hover {
text-decoration: underline;
}
.noi_dung
{
  margin-top: 5px;
  margin-bottom: 200px;
 
}
.tieu_de
{
  max-height: 50px;
}
.tieu_de a{
  text-decoration: none;
  font-weight: bold;
}
.tieu_de a:hover{
  text-decoration: none;
  color:rgba(255,105,0,1);
}

.slide
  {
    width: 100%;
    height: 100%;
  }
  .item
  {
    width: 100%;
    height: 100%;
  }
  .item img
  {
    width: 100%;
    height: 100%;  
}
.main-article {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 47%;
    height: 458px;
  }
  .main-article img {
    width: 100%; 
    border-radius: 20px;
    min-height: 458px;

  }
  .main-article h3 {
    margin-top: 0;
  }
@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}


table {
	border-collapse: collapse;
	width: 100%;
  }
  table td {
	border: 1px solid #ddd;
	padding: 10px;
	vertical-align: top;
  }
  
  table td:first-child {
	width: 250px;
  }
  
  table td img {
	display: block;
	margin: 0 auto;
  }
  
  table td a {
	color: #333;
	font-size: 18px;
	text-decoration: none;
  }
  
  table td a:hover {
	text-decoration: none;
	
  }
  
  table td form {
	margin-top: 10px;
  }
  
  
  table td:nth-child(2) {
	padding-left: 20px;
  }
  .tr_title
  {
	background: #1E9600;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height:40px;
  }
  .tr_title:hover
  {
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  tr:hover
  {
	background: #F1F3FA;
}

  .td_content
  {
	text-align: center;
	vertical-align: middle;
  }
  .lk_a1
  {
	text-decoration: none;
	font-size: 15px;
  }
  .lk_a1:hover
  {
	text-decoration: none;
	color: rgba(255,105,0,1);
  }
  input[type="text"] {
	border: 1px solid #ddd;
	font-size: 16px;
	padding: 5px;
	text-align: center;
	width: 50px;
  }
  
  input[type="submit"] {
	background: #fe8c00;
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	border: none;
	color: #000;
	cursor: pointer;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
  
  }
  input[type="submit"]:hover {
	background: rgba(255,105,0,1);
  }
  *
  {
		font-family: Roboto;
  }