.wrapper {
	width: 90%; /* Thay đổi giá trị để phù hợp với trang của bạn */
	margin: 0 auto; /* Căn giữa nội dung trên trang */
  }
  .khung {
	flex-basis: calc(25% - 2em);
	margin: 1em;
	padding: 1em;
	min-height: calc(100% - 41.5rem);;
	text-align: center;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: transform 0.2s;
	overflow: hidden;
  }
a
{
	text-decoration: none;
}

div.menu_ngang a 
{
	color:blue;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	font-size:20px;
}
.navbar {
    background-color: #fff !important;
    color: black !important;
    border: none;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: black !important;
}

.navbar a:hover {
    background-color:#fff !important;
	color: rgba(255,105,0,1) !important;
	border-radius:8px;
}
.navbar a.active:hover {
    background-color: #fff !important;
}


.navbar-nav.navbar-left {
	display: flex; 
	align-items: center;
 	justify-content: center;
 	margin: 0; 
  	padding: 0;
}
.navbar-nav.navbar-right {
 	margin-top: 12px; 
	margin-right:5px;
}
div.menu_ngang a:hover
{
	color:red
}
div.menu_doc a 
{
	color:blue;
	text-decoration: none;
	display:block;
}
div.menu_doc a:hover
{
	color:red
}
.banner{
	width: 100%;
}
.product-list {
	display: flex;
	flex-wrap: wrap;
  }
  .product-row {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .product {
	flex-basis: calc(25% - 2em);
	margin: 1em;
	padding: 1em;
	text-align: center;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: transform 0.2s;
	overflow: hidden;
  }
  .product_img {
	transition: transform 0.2s;

  }
  .product_img:hover {
	transform: scale(1.2);
  }
  .category_img {
	border-radius: 20px;
	transition: transform 0.2s;
  }
  .category_img:hover {
	transform: scale(1.05);
  }	
  .slideshow_img {
	width: 100%;
	max-height: 450px; /* hoặc bất kỳ giá trị nào mà bạn muốn */
	object-fit: contain;
  }
  .carousel-inner .item img {
	object-fit: cover;
  }
  .product_details
  {
		border-radius: 8px;
		height: 100px;
  }
  .product_name
  {
	padding-top: 5px;
	width: 100%;
  }
  .product_name a
  {
	font-size: 15px;
	margin: auto;
	color:#000;
	text-decoration: none;
  }
  .product_name a:hover
  {
	font-size: 15px;
	margin: auto;
	color:rgba(255,105,0,1);
	text-decoration: none;
  }
  .product_price
  {
	width: 100%;
	height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 15px;
  }

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
	
}

.grid-item:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	height: 600px; /* Chiều cao cho khối 1 */
}

.grid-item:nth-child(2) {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	height: 290px; /* Chiều cao cho khối 2 */
}

.grid-item:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	height: 290px; /* Chiều cao cho khối 3 */
}

.grid-item:nth-child(4) {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
	height: 600px; /* Chiều cao cho khối 4 */
}
.grid-item-content {
	background: rgba(255, 255, 255, 0.484);
	border-radius: 2px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	margin: 0;
	color: #000;
	font-size: 25px;
}
.grid-item-content:hover{
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.553);
	color: #fff;

}
.phan_trang a
{
	font-size:17px;
	margin-left:5px;
	margin-right:5px;
	text-decoration: none;
	color:#000;
}

div.phan_trang a:hover 
{
	color:red
}

.footer-container {
	padding: 40px 0 0 0;
  }
  
  .footer-top {
  margin: 0 auto;
  }
  
  .footer-col {
	margin-bottom: 20px;
  }
  
  .footer-col-inner h3 {
	color: rgba(255,105,0,1);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: left;
  }
  
  .footer-col-inner ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .footer-col-inner ul li {
	margin-bottom: 10px;
	text-align: left;
  }
  
  .footer-col-inner ul li a {
	color: #000;
	font-size: 14px;
	text-decoration:none;
  }
  
  .footer-col-inner ul li a:hover {
	color: rgba(255,105,0,1);
  }
  
  .footer-bottom {
	background-color: rgba(255,105,0,1);
	color: #000;
	padding: 10px 0;
  }
  
  .footer-bottom p {
	font-size: 14px;
	margin: 0;
	text-align: center;
  }
  
  .footer-bottom a {
	color: #fff;
  }
  
  .footer-bottom a:hover {
	color: #007bff;
  }
  .product_table
	{
		text-align:center;
	}
	.btn-primary
	{
		border:none;
		background-color:rgba(255,105,0,1);
		color:#000;
	}
	.btn-primary:hover
	{
		border:solid 1px rgba(255,105,0,1);
		background-color:#fff;
		color:rgba(255,105,0,1);;
	}
	
@media (max-width: 767px) {
	.product {
		flex-basis: 100%;
	}
	.left-div
	{
		display: hidden;
	}
}
